:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    /* line-height: 1.5;
    font-weight: 400; */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

ul {
    padding: 0;
    list-style: none;
}
input {
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: white;
    color: #254466;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.25s;
    margin-right: 1rem;
}
input:focus,
input:focus-visible {
    /* outline: 4px auto -webkit-focus-ring-color; */
    border-color: #1e5999;
}
button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #254466;
    color: white;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    background-color: #1e5999;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
.card {
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
    width: 100%;
    max-width: 600px;
}
/*
#ticker-input {
     text-transform: uppercase; 
}
*/
.added-tickers-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    span{
        width: 100px;
        padding: 5px;
        width: 100px;
        padding: 5px;
        border: 1px solid #e0e0e0;
        border-radius: 4px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
    }
}
.report-output {
    text-align: left;
}